.battleField__title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.battleField__table{
    border-collapse: collapse;
}

.battleEllement{
    border-right: 2px solid #dee2e6;
    width: 20px;
    height: 20px;
}

.battleRow{
    border-top: 2px solid #dee2e6;
    /*width: 20px;*/
    /*height: 20px;*/
}

.shotResult{
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
}